@import "./fonts.scss", "./normalize.scss";

:root {
  --accent-color: #2f76d0;
  --accent-color-light: #82ade3;

  --background-color: #fff;
  --text-color: #000;
  --heading-color: #000;

  --highlight-color: hsl(221deg 87% 60% / 15%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #222730;
    --heading-color: #dddee1;
    --text-color: #bdc1c6;

    --accent-color: #88c0d0;
    --accent-color-light: #88c0d0;

    --highlight-color: #81a1c11a;
  }
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Rubik", "PT Serif", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 1.7;
  box-sizing: border-box;
  min-height: 100vh;

  background: var(--background-color);
  color: var(--text-color);
}

.content {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  color: var(--heading-color);
}

body {
  b,
  strong {
    font-weight: 500;
    color: var(--heading-color);
  }

  blockquote {
    border-left: 6px solid var(--accent-color-light);
    padding-left: 1rem;
    font-style: italic;
    opacity: 0.9;
    margin: 0.5rem;
  }

  pre {
    overflow: auto;
    padding: 1rem;
    max-width: 100%;
  }

  li {
    margin-bottom: 0.5rem;
  }
}

ul {
  padding-left: 2rem;
  list-style-type: disc;
}

nav ul {
  display: inline-block;
}

code {
  background: hsla(0, 0%, 0%, 0.04);
  padding: 0.2em 0;

  pre > & {
    background: none;
  }
}

a,
a:visited {
  color: var(--accent-color);
  text-decoration: none;
  border-bottom: 1px solid var(--accent-color-light);
}

main {
  max-width: 700px;
  padding-top: 8rem;
  margin: auto;
}

header {
  width: 100%;
  max-width: 700px;
  margin: auto;
  display: flex;
  flex-direction: row;
}

a.profile-icon {
  border: none;
  height: 50px;
  width: 50px;
  position: relative;

  img {
    border-radius: 50%;
  }
}

img {
  max-width: 100%;
  margin: auto;
  display: block;
}

nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: auto;

  & > ul {
    margin: 0;
  }

  & > ul > li {
    & {
      margin: 0;
      display: inline;
    }

    &:not(:last-child) {
      margin-right: 1.2rem;
    }

    a {
      margin: 0;
    }
  }
}

hr {
  border: solid 1px rgba(0, 0, 0, 0.1);
  margin: 2rem 0;
}

@media (max-width: 900px) {
  body {
    padding: 1rem;
  }

  main {
    padding-top: 1rem;
  }

  h1 {
    line-height: 1.4;
  }
}
